@import "tailwindcss";
@import "flowbite-react/plugin/tailwindcss";
@source "../.flowbite-react/class-list.json";

body {
    font-family: 'Arimo', sans-serif;
}

.blink-colors {
    animation: blinkColors 5s infinite ease-in-out;
}

@keyframes blinkColors {
    0%, 100% {
        background-color: #0a643a;
    }
    /* 25% {
        background-color: #baeed9;
    } */
    50% {
        background-color: #baeed9;
    }
    /* 75% {
        background-color: #e2e9ec;
    } */
}
